{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if request.user.is_seller == True %}
        <div class="container">
            <div class="row py-4">
                <div class="col-md-6 mt-2">
                    <div class="card">
                        <a href="{% url 'E_App:UpdateCatalogue' %}" class="btn btn-outline-secondary shadow">
                            <div class="card-body py-4 text-center">
                                <h5 style="text-transform: uppercase;letter-spacing: 0.2em;font-size: 15px;"><b>Edit Existing Products</b></h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="card">
                        <a href="{% url 'E_App:AddProduct' %}" class="btn btn-primary shadow-sm">
                            <div class="card-body py-4 text-center">
                                <h5 style="text-transform: uppercase;letter-spacing: 0.2em;font-size: 15px;"><b>Add a New Product</b></h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <table class="table table-hover ">

                <thead class="text-center">
                <tr>
                    <th class="nav-item" colspan="4">Orders</th>
                </tr>
                <tr>
                    <th colspan="2">Products</th>
                    <th colspan="2">Order Details</th>
                </tr>
                </thead>

                <tbody>
                    {% if not products %}
                        <tr>
                            <td class="text-center">
                                You Dont Have Any Orders<br>
                            </td>
                        </tr>
                    {% else %}

                    {% for ordered_prod in ordered_prods %}
                    <tr>
                        <tr>
                            <td width="10%">
                                <a href="{{product.get_url}}">
                                    <img src="{{ ordered_prod.products.product_image.url }}" width="100%" alt="random" class="float-start rounded">
                                </a>
                            </td> 
                            <td width="40%" class="text-uppercase">
                                <b style="letter-spacing: 0.2em;"><a href="">{{ordered_prod.products.name}}</a></b>
                                <p class="text-primary"><b><i class="fa-sharp fa-solid fa-indian-rupee-sign"></i> : {{ordered_prod.products.price}}</b></p>
                            </td> 
                            <td>
                                <b>Name : {{ordered_prod.order.name}}</b>
                                <p><b>Shipping Address :</b>  {{ordered_prod.order.shipping_address}} <br>
                                    <b>Quantity : </b>  {{ordered_prod.quantity}} <br>
                                    <b>Total Price :  <span class="text-primary">{{ordered_prod.total_price}} </b><i class="fa-sharp fa-solid fa-indian-rupee-sign text-primary"></i></span> </p>
                                <p class="text-muted">Ordered In : {{ordered_prod.order.order_date}}</p>
                            </td>
                            <td>
                                <p class="nav-item {% if ordered_prod.order.status == 'pending' %} btn btn-danger 
                                            {% elif ordered_prod.order.status == 'shipped' %} btn btn-primary 
                                            {% else %} btn btn-success {% endif %} ">{{ordered_prod.order.status}}</p>
                            </td>

                        </tr>                                                                  
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}