{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} 
   Sign In - E Shoppee
{% endblock %}

{% block content %}

<div class="container py-5 d-flex justify-content-center">
	<div class="col-md-6 shadow" align="center">
        <div class="row">
            <div class="px-5" >

                <form id="buyer-form" method="post" role="form">
                    {% csrf_token %}
                    <div class="form-outline mb-4 pb-2 mt-4">
                        <h2>Log In</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-1 mt-1">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="col-sm-11 form-outline mb-4">
                            {{login_form.username|attr:'class:form-control form-control-sm'|attr:'placeholder:Username'}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-1 mt-1">
                            <i class="fa-solid fa-lock"></i>
                        </div>
                        <div class="col-sm-11 form-outline mb-4">
                            {{login_form.password|attr:'class:form-control form-control-sm'|attr:'placeholder:Password'}}
                        </div>
                    </div>

                    <div class="form-outline pb-5 pt-3">
                        <div class="row">
                            <div class="col-sm-6 text-muted d-flex justify-content-start">
                                <h style="font-size: 13px;"> Doesn't Have An Account? <a href="{% url 'E_User:Register' %}" style="color:blue">Sign Up Here</a> </h>
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" name="register-submit" class="btn btn-outline-primary btn-sm btn-block" style="width: 100%;">Log In</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}